.App {
  padding: 50px;
  background-color: #232530;
  overflow: hidden;
}

.chart-logo{
  float: right;
  position: relative;
  animation-name: slidein;
  animation-duration: 0.5s;
  /* left: 100000px; */
}
@keyframes slidein {
  from{
    left: 200px;
  }
  to{
   left: 0px;
  }
}
.App-link {
  color: #61dafb;
}

